h2{
    color: darkgoldenrod;
}
h5{
    color: darkgoldenrod;
}
.Roupas{
    color:blue;
}
.alimentos{
    color: cyan;
}
.moveis{
    color: blue;
}
li{
    color:orange;
}
.usada{
    color:darkred;
}
.moveis > .usada{
    color: lightgreen;
}
*{
    font-weight: bolder;
}