@media (min-width: 1200px) {
    .container-destinos{
        display: flex;
        flex-direction: row;
        background-color: rgb(216, 223, 223);
        gap: 10px;
        justify-content: center;
        color: rgb(93, 18, 163);
    }
}
@media (max-width: 1200px) {
    .container-destinos{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        color: rgb(93, 18, 163);
        align-items: center;
    }
}
.roteiros-viagens{
    background-color: rgb(201, 177, 223);
    border-radius: 10px;
    text-align: center;
    padding: 4%;
}
.roteiro-destino{
    font-weight: bolder;
    font-size: large;
}
.roteiro-preco{
    font-weight: bolder;
    font-size: large;
}
.roteiro-obs{
    font-size: small;
}
.roteiro-parcelamento{
    font-size: small;
}
img{
    width: 160px;
    height: 110px;
    border-radius: 10px;
}
button{
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    background-color: rgb(182, 238, 97);
    border: 5px solid rgb(182, 238, 97);
}
ul{
    list-style: none;
    text-align: justify;
    padding-left: 20%;;
}
li::before{
    content: '\2713';
}
